{% extends "base.html" %} {% block title %}View all URLS{% endblock %} {% block content %} {% for url in vals %}
<div class="fom">
    <p><strong>Shorten Url:</strong>
        <a href="https://k-url-shortener.herokuapp.com/{{url.short}}"> https://k-url-shortener.herokuapp.com/{{url.short}} </a>
        <br><strong>Original Url:</strong>
        <a href="{{url.original_url}}">{{url.original_url}}</a></div>

</p>
<br><br>
<style>
    body {
        background-color: aliceblue;
    }
    
    .fom {
        margin-left: 150px;
        margin-right: 150px;
    }
</style>
{% endfor %} {% endblock %}